// TODO: Populate it with real values

// Colors
// Primary
$color-primary-1: #BBA590;
$color-primary-2: #3F606E;

// Secondary
$color-secondary-1: #BBA590;
$color-secondary-2: #5D8EA2;

// Other

$color-dark-gray: #2B2F34;
$color-light-cream: #F9F7F6;
$color-dark-blue-gray: #49536E;
$color-smoky-blue: #667399;
$color-light-gray: #EAEAEA;
$color-gray: #979899;
$color-dark-slate-gray: #6F7072;
$color-ivory: #EAE5E0;



// Typography
$font-family-primary: 'IBM Plex Sans Arabic', sans-serif;
$font-family-secondary: 'Arial', sans-serif;

$font-size-root: 16px;

$font-size-heading-1: 50px;
$font-size-heading-2: 40px;
$font-size-title-1: 30px;
$font-size-title-2: 20px;
$font-size-description-1: 18px;
$font-size-description-2: 16px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

// Breakpoints
$breakpoint-small: 576px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;

// Spacing
$spacing-small: 4px;
$spacing-medium: 8px;
$spacing-large: 16px;
$spacing-xlarge: 24px;
